body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
h1 {
    color: #0066cc;
}
li {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px;
}