<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= contact.pageTitle %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1><%= contact.pageTitle %></h1>
  <p>
    Phone: <%= contact.contactInfo.phone %><br>
    Email: <%= contact.contactInfo.email %>
  </p>
</body>
</html>

